

<div class="input-group mb-3">
    <input id="input" type="text" class="form-control" placeholder="What needs doing?" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div id="list-container" class="list-container"></div>
    {{#each items}}
        <div class="form-check">
            <input type="checkbox" value="" id="id" class="form-check-input"/>
            <label class="form-check-label" for="id">{{item.name}}</label>
        </div>
    {{/each }}
</div>



